.green:hover{
  color: rgb(242, 245, 248);
  background: rgb(10, 158, 17);
}

.green{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
	border-radius: 10%;
	width: 75px;
  height: 40px;
  text-align: center;
  background-color: rgb(245, 233, 228);

}
.red{
  margin: 15px;
  border-radius: 10%;
  width: 75px;
  height: 40px;
  text-align: center; 
   background-color: rgb(245, 233, 228);
}
.blue{
  margin: 15px;
  border-radius: 10%;
  width: 75px;
  height: 40px;
	text-align: center;
	display: flex;
	background-color: rgb(245, 233, 228);
  justify-content: center;
  align-items: center;
}
.grey{
  margin: 15px;
  border-radius: 10%;
  width: 75px;
  height: 40px;
	text-align: center;
	background-color: rgb(245, 233, 228);
}
.black{
  margin: 15px;
  border-radius: 10%;
  width: 75px;
  height: 40px;
	text-align: center;
	background-color: rgb(245, 233, 228);

}

.pink{
  margin: 15px;
  border-radius: 10%;
  width: 75px;
  height: 40px;
  text-align: center;
	background-color: rgb(245, 233, 228);
}
.yellow{
  margin: 15px;
  border-radius: 10%;
  width: 75px;
  height: 40px;
  text-align: center;
	background-color: rgb(245, 233, 228);


}
.orange{
  display: flex;
  justify-content: center;
  margin: 15px;
  border-radius: 10%;
  width: 75px;
  height: 40px;
	text-align: center;
	background-color: rgb(245, 233, 228);

}
.red:hover{
  color: rgb(242, 245, 248);
  background: rgb(230, 68, 5);
}
.blue:hover{
  color: rgb(242, 245, 248);
  background: rgb(9, 101, 194);
}
.grey:hover{
  color: rgb(242, 245, 248);
  background: grey
}
.black:hover{
  color: rgb(242, 245, 248);
  background: black
}
.pink:hover{
  color: rgb(242, 245, 248);
  background: rgba(235, 14, 150, 0.486);
}
.yellow:hover{
  color: rgb(8, 8, 8);
  background: yellow
}
.orange:hover{
  color: rgb(242, 245, 248);
  background: orange
}
.mainColor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-image: url('https://tinsign.ru/image/cache/data/text%20signs/7086220-690x690.jpg'); */
}
.cardColor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

}