.CardsPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
	align-items: flex-start;
	margin-top: 25px;
}
.card-color {
	margin-top: 40px;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}
.clear {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 405px;
	margin-bottom: 20px;
}