.AllCards{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 230px;
	flex-direction: column;
}
.allCards {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
}
.po {
	background-color: rgb(250, 249, 248);
	width: 450px;
	height: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4%;
}
.fo {
	width: 100%;
	margin-top: 5px;
	/* cdc */
}
.admire {
	/* font-family: 'Pacifico', cursive; */
	font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 17px;
}
.fos {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 50px;
}
.closee {
	position: relative;
	top: 36px;
	left: 193px;
}
.customer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 0px;

}
.but {
	margin-left: 350px;
	margin-bottom: 28px;
	/* padding-top: 50px; */
	/* margin-bottom: 20px; */
}